body {
	background-image: url("../img/autumn-leaves.jpg");
	background-size: cover;
}

.container-fluid .main {
	height: 100vh;
}

.container-fluid .main .content {
	position: relative;
 	top: 50%;
 	transform: translateY(-50%);
}

#title {
	margin-top: 0;

	text-align: center;
	font-size: 90px;

	font-family: 'Arvo', serif;
	color: #F9F9F9;
	opacity: 0.95;

	text-shadow: 1px 1px 1px #CC5E3E;
}

@media(max-width:767px) {
	#title {
		font-size: 70px;
	}
}

.container-fluid .main .content .panel {
	margin-top: 36px;
	opacity: 0.95;
}

.container-fluid .main .content .panel .panel-body table tr td a{
	font-size: 16px;
}


.container-fluid .main .content .logos {
	margin-top: 40px;
	text-align: center;
}

.container-fluid .main .content .logos a i{
	color: #F9F9F9;
	opacity: 0.9;
}

#behance {
	margin-right: 15px;
}

.container-fluid .main .content .logos a i:hover{
	color: #E3E3E3;
	opacity: 0.9;
}